<launch>
    <!-- ========== Arguments ========== -->
    <!-- Model architecture config-->
    <arg name="cfg_path" default="$(find pointosr)/pointnext/cfgs/pointnext-s.yaml" />
    <!-- Model checkpoint -->
    <arg name="model_path" default="/home/cerlab/Documents/data/pointosr/ckpt/cfgs-train-pointnext-s-ngpus1-seed42-20250824-130842-fzwiyYEtV7a4GyHM2H48rq_ckpt_best.pth" />
    <!-- Dataset and calibration directories -->
    <arg name="data_dir" default="/home/cerlab/Documents/data/pointosr/dataset" />
    <arg name="calibration_cache_dir" default="src/pointosr/calib_cache" />

    <!-- Calibration parameters -->
    <arg name="k_human" default="6" />
    <arg name="k_false" default="4" />
    <arg name="target_tpr" default="0.99" />
    
    <!-- ROS parameters -->    
    <arg name="num_points" default="2048" />    <!-- match to training point cloud size -->
    <arg name="max_cluster_topics" default="32" />
    <arg name="debug_logging" default="false" />
    
    <!-- Keep defaults -->
    <arg name="enable_osr" default="true" />
    <arg name="input_topic_prefix" default="/cluster_" />
    <arg name="trigger_topic" default="/motion_detector/cluster_batch" />
    <arg name="device" default="cuda" />

    <!-- ========== Classification with online calibration ========== -->
    <!-- Online calibration -->
    <node name="online_calibration" pkg="pointosr_ros" type="run_online_calibration.py" output="screen" required="false" args="--model_path $(arg model_path) --config_path $(arg cfg_path) --data_dir $(arg data_dir) --calibration_cache_dir $(arg calibration_cache_dir) --k_human $(arg k_human) --k_false $(arg k_false) --target_tpr $(arg target_tpr) --device $(arg device)" />

    <!-- Classification node -->
    <node name="pointosr_live_classification" pkg="pointosr_ros" type="classification_node.py" output="screen" required="true">
        <param name="cfg_path" value="$(arg cfg_path)" />
        <param name="model_path" value="$(arg model_path)" />
        <param name="num_points" value="$(arg num_points)" />
        <param name="max_cluster_topics" value="$(arg max_cluster_topics)" />
        <param name="input_topic_prefix" value="$(arg input_topic_prefix)" />
        <param name="trigger_topic" value="$(arg trigger_topic)" />
        <param name="device" value="$(arg device)" />
        <param name="debug_logging" value="$(arg debug_logging)" />
        <param name="k_human" value="$(arg k_human)" />
        <param name="k_false" value="$(arg k_false)" />
        <param name="enable_osr" value="$(arg enable_osr)" />
        <param name="fusion_config_path" value="$(arg calibration_cache_dir)/fusion_config.json" />
        <param name="stats_path" value="$(arg calibration_cache_dir)/stats.json" />
        <param name="prototypes_path" value="$(arg calibration_cache_dir)/prototypes" />
    </node>
</launch>