<launch>
    <!-- 
        This launch file starts the inference process by running the inference.sh script.
        
        Before running this for the first time, you must make the script executable.
        From your catkin workspace root, run this command:
        chmod +x src/pointosr/pointosr_ros/scripts/inference.sh
    -->
    <node 
        name="pointosr_inference" 
        pkg="pointosr_ros" 
        type="inference.sh" 
        output="screen"
        />
</launch> 